.ProfileIcon
{
    display: inline;
    position: relative;

    width: 50px;
    height: 50px;
    border-width: 100;
    float: right;
}

.Dropdown
{
    border-color: #212529;
    color: white;
    border-radius: 6px;
    background-color: #212529;
    text-align: center;
    font-size: 1.2em;
    list-style: none;
}

.ProfileDropdownItem
{
    display: inline;
    position: relative;
    width: 0 auto;
    margin-right: 30px;
    text-decoration:solid;
    color: white;
    text-align: center;
    
}

.ProfileDropdownItem:hover
{
    display: inline;
    position: relative;
    width: 0 auto;
    margin-right: 30px;
    

    text-decoration: none;
    color: grey;
    text-align: center;
}

.ProfileDropdownIcon
{
    display: inline;
    position:inherit;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Title
{
    background-color: #ff4c68;
    border: 1px #ff4c68;
    border-radius: 5%;
}
.TitleText
{
    font-family: 'Montserrat', sans-serif; font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}