/* Css Function */
body
{
    font-family: 'Montserrat', sans-serif;;
}

/* Navbar */
.ProfileIcon
{
    display: inline;
    position: relative;

    width: 50px;
    height: 50px;
    border-width: 100;
    float: right;
}

.Dropdown
{
    border-color: #212529;
    color: white;
    border-radius: 6px;
    background-color: #212529;
    text-align: center;
    font-size: 1.2em;
    list-style: none;
}

.ProfileDropdownItem
{
    display: inline;
    position: relative;
    width: 0 auto;
    margin-right: 30px;
    text-decoration:solid;
    color: white;
    text-align: center;
    
}

.ProfileDropdownItem:hover
{
    display: inline;
    position: relative;
    width: 0 auto;
    margin-right: 30px;
    

    text-decoration: none;
    color: grey;
    text-align: center;
}

.ProfileDropdownIcon
{
    display: inline;
    position:inherit;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Title */

#Title
{
    background-color: #e6bc9b;
    border: 3px #ff4c68;
    border-radius: 3%;
    padding: 30px;
    margin: 3% 10% 3% 10%;
}
.ButtonBox
{
    padding: 10% 5% 5% 5%;
}

.ButtonIcon
{
    width: 50px;
    height: 50px;
}

.TitleText
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.5;
}



.PromoPhone
{
    
}