/* Css Function */
body
{
    font-family: 'Montserrat', sans-serif;;
    text-align: center;
}
h1
{
    font-weight: 900;
}
h6
{
    color: #3a3a3b;
    font-weight:100;
}

/* Navbar */
.ProfileIcon
{
    display: inline;
    position: relative;

    width: 50px;
    height: 50px;
    border-width: 100;
    float: right;
}

.Dropdown
{
    border-color: #212529;
    color: white;
    border-radius: 6px;
    background-color: #212529;
    font-size: 1.2em;
    list-style: none;
}

.ProfileDropdownItem
{
    display: inline;
    position: relative;
    width: 0 auto;
    margin-right: 30px;
    text-decoration:solid;
    color: white;
}

.ProfileDropdownItem:hover
{
    display: inline;
    position: relative;
    width: 0 auto;
    margin-right: 30px;
    

    text-decoration: none;
    color: grey;
}

.ProfileDropdownIcon
{
    display: inline;
    position:inherit;
    width: 50px;
    height: 50px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Title */
.ButtonBox
{
    padding: 10% 5% 5% 5%;
}

.ButtonIcon
{
    width: 50px;
    height: 50px;
}

.TitleText
{
    font-weight: 900;
    font-size: 5rem;
    line-height: 1.5;
}

/* Body */

.Pannel
{
    background-color: #e6bc9b;
    border-radius: 10%;
    padding: 30px;
    margin: 3% 10% 3% 10%;
}

.PromoBox
{
    padding: 5%;
}

.PromoPoints
{
    margin-bottom: 5%;
  
}

.PromoImage
{
    width: 130px;
    height: 130px;
}

.PromoText
{
    font-weight: 800;
}

.PromoDisc
{
    font-weight: 300;
}

.Testimonials
{
    background-color: #e6bc9b;
    padding: 4%;
}

.TestimonialsText
{
    font-weight: 800;
    font-size: 2rem;
}

.TestimonialsImage
{
    width: 100px;
    height: auto;
}

/* Cards */

.CardIcon
{
   width: 50px;
   height: auto;
   text-align: left;
   margin-left: 0;
   margin-right: 0%;
   display: inline-block;
   padding-bottom: 10px;
}

.BoxText
{
    font-weight: 800;
    font-size: 2em;
    padding-left: auto;
    margin-left: 5%;
}

.BottemButtons
{
    margin: 0 5% 5% 25%;
    font-weight: 900;
    display: block;
}

@media (max-width: 800px)
{
    .ReactiveButtons
    {
        width: 300px;
        height: 200;
    }

    .BottemButtons
    {
        margin: 0 5% 5% 0%;
        display: block;
    }

    .Pannel
    {
        background-color: #e6bc9b;
        border-radius: 0%;
        padding: 30px;
        margin: auto 0 0% 0%;
    }
}